{% extends 'base.html.twig' %}

{% block bodyTopMenu %}{% endblock %}
{% block body %}
    <h1>Pytanie</h1>

    <table>
        <tbody>
            <tr>
                <th>Treść</th>
                <td>{{ pytanie.tresc }}</td>
            </tr>
            <tr>
                <th>Odpowiedź A</th>
                <td>{{ pytanie.odpowiedzA }}</td>
            </tr>
            <tr>
                <th>Odpowiedź B</th>
                <td>{{ pytanie.odpowiedzB }}</td>
            </tr>
            <tr>
                <th>Odpowiedź C</th>
                <td>{{ pytanie.odpowiedzC }}</td>
            </tr>
            <tr>
                <th>Odpowiedź D</th>
                <td>{{ pytanie.odpowiedzD }}</td>
            </tr>
            <tr>
                <th>Poprawna odpowiedź</th>
                <td>{{ pytanie.poprawnaOdpowiedz }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group">
        <a class="btn btn-success" href="{{ path('admin_pytanie_index')}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="btn btn-primary" href="{{ path('admin_pytanie_edit', { 'id': pytanie.id }) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
        {{ render(controller(
            'kisRegBundle:Pytanie:createDeleteFormView',
            { 'pytanie': pytanie.id }
        )) }}
    </div>
{% endblock %}
