{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        div#program > div.row {
            padding: 7px;
            border-bottom: 1px solid rgb(177, 177, 177);
            background-color: rgba(0, 0, 0, 0.02);
            transition-duration: 0.5s;
        }
        div#program > div.row:nth-child(2n+1){
            background-color: rgba(0, 0, 0, 0.09);
        }
        div#program > div.row:hover {
            background-color: rgba(0,255,0,0.09);
        }
    </style>
{% endblock %}

{% block body %}
    <div id="program" class="col-xs-12">
        <div class="row hidden-xs" style="background-color: #272727; color:#888888; font-size: large; font-weight: bold;">
            <div class="col-sm-8 col-md-10">
                Nazwa
            </div>
            <div class="col-sm-4 col-md-2">
                Godziny
            </div>
        </div>
        {% for z in zajecia %}
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-10">
                    <a href="123">{{z.nazwa}}</a>
                    <small class="hidden-xs"><br/>{{z.opis|raw}}</small>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    {% for no in range(0,z.poczatek|length-1) %}
                        {% if not loop.first %}
                            <br />
                        {% endif %}
                        {{ z.poczatek[no]|date('H') }}<sup>{{ z.poczatek[no]|date('i') }}</sup>
                        -{{ z.koniec[no]|date('H') }}<sup>{{ z.koniec[no]|date('i') }}</sup> limit: {{ z.limitMiejsc[no] }}
                    {% endfor %}
                </div>
                <div class="visible-xs col-xs-12">
                    {{z.opis|raw}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
