{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        div#program > div.row {
            padding: 7px;
            border-bottom: 1px solid rgb(177, 177, 177);
            background-color: rgba(0, 0, 0, 0.02);
            transition-duration: 0.5s;
        }
        div#program > div.row:nth-child(2n+1){
            background-color: rgba(0, 0, 0, 0.09);
        }
        div#program > div.row:hover {
            background-color: rgba(0,255,0,0.09);
        }
    </style>
{% endblock %}

{% block body %}
    {% if isOk %}
        <h2>Rejestracja potwierdzona</h2>
        <fieldset class="ui-corner-all">
            <legend>Dane grupy</legend>
            Opiekun: {{grupa.opiekun}}<br/>
            Szkoła: {{grupa.szkola}}<br/>
            Telefon: {{grupa.telefon}}<br/>
            E-Mail: {{grupa.email}}<br/>
        </fieldset>
        <fieldset class="ui-corner-all">
            <legend>Wybrane zajęcia</legend>
            {% for zapis in grupa.zapisy if zapis.ilosc > 0 %}
                {{ zapis.zajecia.nazwa }} miejsc: {{zapis.ilosc}}<hr/>
            {% endfor %}
        </fieldset>
    {% else %}
        <h2>Błąd w czasie rejestracji</h2>
        <hr/>
        Prosimy spróbować ponownie
    {% endif %}
{% endblock %}
