{% use 'kisRegBundle:Form:Plik.html.twig' %}
{# {% use 'kisRegBundle:Form:Encje.html.twig' %} #}
{% block _kisregbundle_grupa_zapisy_widget -%}
    {% for child in form %}
        <div>
            {{ child.vars.data.zajecia.nazwa }} {{ child.vars.data.zajecia.poczatek|date('H:i') }} {{ child.vars.data.zajecia.koniec|date('H:i') }} wolnych: {{ child.vars.data.zajecia.pozostaloMiejsc }}<br/>
            {{ form_widget(child.children.ilosc) }}
        </div>
    {% endfor %}
{%- endblock _kisregbundle_grupa_zapisy_widget %}

{% block _kisregbundle_rejestracjagrupa_zapisy_widget -%}
    <script>
        var zajecia = {};
        var zajeciaToMax = {};
        var zajeciaIds = [];
        function addZajecia(id,nazwa,start,stop,limitMiejsc,url){
            if(typeof zajecia[nazwa] === 'undefined'){
                zajecia[nazwa] = [];
            }
            zajecia[nazwa].push([id,start,stop,limitMiejsc,url]);
            zajeciaIds.push(id);
            zajeciaToMax[id] = limitMiejsc;
        }
        function updateZajeciaIlosc(){
            for(i in zajeciaIds)
                $('#'+zajeciaIds[i]).val(0);
            $('.zajeciaRow').each(function(){
                var row = $(this);
                var id = row.find('select').val();
                var no = parseInt(row.find('input[type=number]').val());
                if(zajeciaToMax[id]<no){
                    no = zajeciaToMax[id];
                    row.find('input[type=number]').val(no)
                }
                $('#'+id).val(no);
            });
        }
    </script>
    {% for child in form %}
        {% set zajecia=child.vars.data.zajecia %}
        {% set zid=zajecia.id %}
        {% set znazwa=zajecia.nazwa %}
        <script>
            addZajecia(
                "{{ child.children.ilosc.vars.id|e('js') }}",
                "{{ zajecia.nazwa|e('js') }}",
                "{{ zajecia.poczatek|date('H:i')|e('js') }}",
                "{{ zajecia.koniec|date('H:i')|e('js') }}",
                "{{ zajecia.pozostaloMiejsc }}",
                "{{path('zajecia',{'id':zid})|cutUrl(znazwa)|e('js')}}"
            );
        </script>
        <div style="display:none;">
            {{- form_row(child) -}}
        </div>
    {% endfor %}
    <div id="wyborZajec"></div>
    <script>
        for(nazwa in zajecia){
            var label = $('<a>');
            label.addClass('col-xs-12 col-sm-6');
            label.attr('href',zajecia[nazwa][0][4]);
            label.attr('target','_blank');
            label.html(nazwa);
            var godziny = $('<select>');
            godziny.addClass('col-xs-6 col-sm-3 ui-corner-all');
            godziny.change(updateZajeciaIlosc);
            for(i=0;i<zajecia[nazwa].length;i++){
                var opt = $('<option>');
                opt.attr('value',zajecia[nazwa][i][0]);
                opt.html(zajecia[nazwa][i][1] + ' - ' + zajecia[nazwa][i][2] + ' zostało miejsc: '+zajecia[nazwa][i][3]);
                godziny.append(opt);
            }
            var godziny_label = '';
            if(zajecia[nazwa].length==1){
                godziny_label = $('<div>');
                godziny_label.html(zajecia[nazwa][0][1] + ' - ' + zajecia[nazwa][0][2] + ' zostało miejsc: '+zajecia[nazwa][0][3]);
                godziny_label.addClass('col-xs-6 col-sm-3');
                godziny.css('display','none');
            }
            var ilosc = $('<input type="number" value="0" min="0" />');
            ilosc.change(updateZajeciaIlosc);
            ilosc.addClass('col-xs-6 col-sm-3  ui-corner-all');
            var row = $('<div>');
            row.addClass('row zajeciaRow');
            row.append(label,godziny_label,godziny,ilosc,'<hr/>');
            row.appendTo($('#wyborZajec'));
        }
    </script>
{%- endblock _kisregbundle_rejestracjagrupa_zapisy_widget %}
