{% block choice_row -%}
    {% set force_error = true %}
    <fieldset class="ui-corner-all {% if (not compound or force_error|default(false)) and not valid %}error{% endif %}">
        <legend style="width:auto; margin-bottom: auto;">{{ form_label(form) }}</legend>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </fieldset>
{%- endblock choice_row %}
{##############################################################################}
{% block _kisregbundle_rejestracjagrupa_zapisy_widget -%}
    {% if multiple -%}
        {% if errors|length > 0 -%}
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' error')|trim}) %}
        {% endif %}

            {{- block('choice_widget_collapsed') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock _kisregbundle_rejestracjagrupa_zapisy_widget %}
{##############################################################################}
{%- block fancy_choice_widget_cbxhelper_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            {% set options = choice %}
            {{- block('fancy_choice_widget_cbxhelper_options') -}}
        {%- else -%}
            <input class="{{ id }}_cbx_helper" type="checkbox" value="{{ choice.value }}" name="{{ full_name }}" {% if choice is selectedchoice(value) %} checked="checked"{% endif %} />
        {%- endif -%}
    {% endfor %}
{%- endblock fancy_choice_widget_cbxhelper_options -%}
{##############################################################################}
{%- block fancy_choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            {% set options = choice %}
            {{- block('fancy_choice_widget_options') -}}
        {%- else -%}
            {% if choice is selectedchoice(value)==show_selected %}
                {% if attribute(choice.data,'getThumb') is defined %}
                    <span onclick="{{id}}_choice_click(this)"
                    class="element-contanier" style="{% if not show_selected %}display: none;{% endif %}"
                    value="{{ choice.value }}">
                        <div style="
                            cursor: pointer;
                            text-align:center;
                            margin: 7px;
                            width: 64px;
                            height: 128px;
                            float: left;
                            "{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}>
                            <div class="ui-corner-all" style="
                                margin:0px;
                                padding: 0px;
                                width: 64px;
                                height: 64px;
                                background-image:url('{{choice.data.thumb|thumbUrl(64)}}');
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-color: rgba(0,0,0,0.05);
                            " /></div>
                            <div>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</div>
                        </div>
                    </span>
                {% else %}
                    <span class="element-contanier" style="{% if not show_selected %}display: none;{% endif %}" onclick="{{id}}_choice_click(this)" value="{{ choice.value }}">
                        <div style="width: 100%;margin-top:2px;" class="btn btn-primary"{% if choice.attr %}{% set attr = choice.attr %}{{ block('attributes') }}{% endif %}>
                            {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
                        </div>
                    </span>
                {% endif %}
            {% endif %}
        {%- endif -%}
    {% endfor %}
{%- endblock fancy_choice_widget_options -%}
