{% if hasAjaxAlternative is defined and app.request.isXmlHttpRequest %}{% block ajax %}{% endblock %}{% else %}{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block assets %}{% include '::bowerAssets.html.twig' %}{% include '::gitSubmodulesAssets.html.twig' %}{% endblock %}
        <title>{% block title %}Dziewczyny do ścisłych - UMK{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        {% stylesheets filter='cssrewrite'
            '../app/Resources/public/css/toc.css'
            '../app/Resources/public/css/qv.css'
            '../app/Resources/public/css/main.css'
            '../app/Resources/public/css/tiles.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts
            '../app/Resources/public/js/qv.js'
            '../app/Resources/public/js/helpers.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block stylesheets %}
            <style>
                background-image: linear-gradient(to bottom,#00b0f2 0,#222 100%);
            </style>
        {% endblock %}
        {% image
            '../app/Resources/public/images/icon.png'
        %}
            <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}

        <script>
            var wookmarkSettings = {
                align : 'center',
                fillEmptySpace: true,
                itemWidth : 210,
                offset:0,
                outerOffset: 10,
                flexibleWidth: true
            };
        </script>
        {% block headEnd %}{% endblock %}
    </head>
    <body>
        {% block bodyTop %}
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'admin-nav.html.twig' %}
            {% elseif is_granted('ROLE_USER') %}
                {% include 'user-nav.html.twig' %}
            {% else %}
                {% include 'anonymous-nav.html.twig' %}
            {% endif %}
        {% endblock %}
        {% block bodyTopMenu %}
            <div class="container" id="bannerWrapper" role="main">
                <div class="row" id="banner" style="text-align: center;">
                        {% image
                            '../app/Resources/public/images/banner.png'
                        %}
                            <img style="max-width:80%;" src="{{ asset_url }}" />
                        {% endimage %}
                </div>
            </div>
            <div style="background-color: #f3f3f3; margin: 10px 0px;padding: 20px 0px;">
                <div class="container" id="mainLinkWrapper" role="main">
                    <div class="row" id="mainLink" style="font-size: large;">
                        {% block bigBanners %}
                            <div class="col-xs-12 col-md-6 col-lg-3 btn btn-default">
                                <a href="http://www.dziewczynynapolitechniki.pl/">
                                    {% image
                                        '../app/Resources/public/images/girls_icon.png'
                                    %}
                                        <img style="max-width:64px; float: left;" src="{{ asset_url }}" />
                                    {% endimage %}
                                    <div style="padding-top: 19px;">
                                        Dziewczyny do ścisłych
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-3 btn btn-default">
                                <a href="http://www.fizyka.umk.pl/">
                                    {% image
                                        '../app/Resources/public/images/fizyka_icon.png'
                                    %}
                                        <img style="max-width:64px; float: left;" src="{{ asset_url }}" />
                                    {% endimage %}
                                    <div style="padding-top: 10px;">
                                        Wydział Fizyki, Astronomii<br > i Informatyki Stosowanej UMK
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-3 btn btn-default">
                                <a href="http://www.is.umk.pl/">
                                    {% image
                                        '../app/Resources/public/images/kis_icon.png'
                                    %}
                                        <img style="max-width:64px; float: left;" src="{{ asset_url }}" />
                                    {% endimage %}
                                    <div style="padding-top: 19px;">
                                        Informatyka Stosowana UMK
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-md-6 col-lg-3 btn btn-default">
                                <a href="http://www.ca.umk.pl/">
                                    {% image
                                        '../app/Resources/public/images/ca_icon.png'
                                    %}
                                        <img style="max-width:64px; float: left;" src="{{ asset_url }}" />
                                    {% endimage %}
                                    <div style="padding-top: 19px;">
                                        Centrum Astronomii UMK
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 btn btn-default">
                                <a href="http://www.umk.pl/">
                                    {% image
                                        '../app/Resources/public/images/umk_icon.png'
                                    %}
                                        <img style="max-width:64px;" src="{{ asset_url }}" />
                                    {% endimage %}
                                        Uniwersytet Mikołaja Kopernika

                                </a>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="container" id="mainContentWrapper" role="main">
            <div class="row" id="mainContent">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div style="background-color: #272727; color:#888888;padding-top:40px;">
            <div class="container" id="footerWrapper" role="footer">
                <div class="row" id="footer">
                    {% block footer %}
                    <div class="col-xs-12" style="text-align: center;">
                        <h4 style="font-variant: small-caps;">Wydział Fizyki, Astronomii i Informatyki Stosowanej <br/> Katedra Informatyki Stosowanej</h4>
                        <hr style="border-color: rgb(45, 174, 247); width: 40px;"/>
                    </div>
                    {% endblock %}
                    <div class="col-xs-12 col-md-4" style="text-align: center;">
                        <address>
                            Instytut Fizyki<br/>
                            ul. Grudziądzka 5/7<br/>
                            87 - 100 Toruń
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-4" style="text-align: center;">
                        <a href="mailto:dziewczyny@fizyka.umk.pl">
                            <span class="fa-stack fa-x3">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                            </span><br/>
                            dziewczyny@fizyka.umk.pl
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4" style="text-align: center;">
                        <a href="https://www.facebook.com/Fizyka.UMK/?fref=ts">
                            <span class="fa-stack fa-x3">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span><br/>
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div style="border-top: 1px solid #434343;">
                <div class="container" style="">
                    <div class="row" style="text-align: right; color: #434343;">
                        by <i>Bartosz Celmer &lt;bcelmer(at)is.umk.pl&gt;</i> find on <a style="color: #434343" href="https://github.com/IS-UMK/kisReg">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
        {% block javascripts %}
            {{
                tinymce_init({
                    'theme': {
                        'simple': {
                            'menubar': false,
                            'plugins':'advlist autolink lists link image charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table contextmenu paste code',
                            'toolbar1': 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code'
                        }
                    }
                })
            }}
        {% endblock %}
        {% include 'googleMapsApi.html.twig' %}
        {% include 'googleAnaliticsCode.html.twig' %}
    </body>
</html>
{% endspaceless %}{% endif %}
