{{ form_start(main_form,{'attr':{'id':'edit_form'}}) }}
{{ form_end(main_form) }}
{% if delete_form is defined %}
    {{ form_start(delete_form,{'attr':{'id':'delete_form'}}) }}{{ form_end(delete_form) }}
{% endif %}
<hr />
<div class="btn-group row">
    <button style="padding-left: 35px; padding-right: 35px;" onclick="$('#edit_form').submit();" type="button" class="btn btn-success">Zapisz</button>
    {% if delete_form is defined %}
        <button style="padding-left: 35px; padding-right: 35px;" onclick="$('#delete_form').submit();" type="button" class="btn btn-danger">Usuń</button>
    {% endif %}
    <a style="padding-left: 35px; padding-right: 35px;" class="btn btn-primary" href="{{ path('admin_uzytkownik_index') }}" role="button">Wróć do listy</a>
</div>
